extends ../layouts/default

block content
  .row
    .col-12
      h2.d-inline Your lists
      div.float-right
        form(method='POST' action='/lists')
          div.d-inline-block.mr-2
            input.form-control(type='text' id='title' placeholder='Title' name='title')
          div.d-inline-block
            button.btn.btn-primary(type='submit') Create list
    .col-12
      for list in lists
        a.text-white(href="") list.title
        ul
          for user in list.members
            li= user.email

